@property --gradient-angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Avenir'
}

.left-image {
    background: url('Images/2.jpg') center/cover no-repeat;
    height: 100vh;
    margin: 0;
    padding: 0; 
    overflow: hidden;         
}


.first_page {
    width: 100%;
    overflow: hidden;

}
.page-content {
    padding: 3rem 1rem;
    max-width: 680px;
    margin-inline: auto;
    height: 100vh;
    overflow-y: auto;
    scrollbar-width: none;          /* Firefox */
    -ms-overflow-style: none;       /* IE and Edge */
}

.page-content::-webkit-scrollbar {
    display: none;                  /* Chrome, Safari, Opera */
}
.social_media p{
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-right: 1.8rem !important;
    font-style: italic;
    font-size: 15px;
    
}
.social_media a{
    text-decoration: none;
    color: rgb(125, 125,125);}


.page-content .paragaph{
    color: rgb(125, 125,125);
    font-size: 15px;
    padding-left: 20px;
    padding-right: 20px;
    overflow: auto;
    max-height: 100vh;

    
}
.paragaph {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}
.all_text{

    margin-top: -2rem;
    text-align: justify;
}

.navbar-nav .nav-link:focus,
.navbar-nav .nav-link:active,
.navbar-nav .nav-link.show,
.navbar-nav .dropdown-toggle.show {
    color:  rgb(125, 125, 125) !important;
    background-color: transparent !important;
    outline: none;
    box-shadow: none;
    transition: color 0.3s ease, background-color 0.3s ease;
}
.nav-item .something .dropdown-header{
    color: rgb(125, 125, 125) !important;
}
.navbar{
    min-height:56px; 
    transition:opacity 0.5s ease;    
  }
.navbar::before{
      content:"";
      position:absolute;
      inset:0;
      pointer-events:none;
      z-index:0;                  /* sits *above* the links but keeps clicks working */
      opacity:0;                  /* hidden until scrolled */
      backdrop-filter: blur(0px);         /* start with no blur */
      -webkit-backdrop-filter: blur(0px); /* Safari */
      background: rgba(0,0,0,0);          /* start fully transparent */
      transition: opacity 0.5s ease,
                  backdrop-filter 0.5s ease,
                  -webkit-backdrop-filter 0.5s ease,
                  background 0.5s ease;
  }
  
  .navs.scrolled::before{
    backdrop-filter:blur(8px);
    -webkit-backdrop-filter:blur(8px);
    opacity:1;
   
  }



.nav-item .something {
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    background: rgba(0, 0, 0, 0.35);
    /* translucent dark tint  */
    border: 0.5x solid rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.navbar-nav .dropdown-toggle::after {
    border: none !important;
    content: "" !important;
}

.dropdown-header {
    font-size: 15px !important;
}

.dropdown-item {
    font-weight: 1500 !important;
    color: rgba(0, 0, 0, 0.477) !important;
    border-radius: 12px !important;
    transition: background-color 0.5s ease, border-radius 0.5s ease !important;
}

.dropdown-item:hover {
    background-color: rgba(166, 166, 166, 0.199) !important;
    border-radius: 12px !important;
}

.nav-item .nav-link {
    font-size: 15px;
    letter-spacing: 0.5px;
    margin: 1.5rem;
    position: relative;
    top: 10px;
    color: rgb(125, 125, 125);
}

.nav-item .nav-link:hover {
    color: black;
}
.navbar-nav .nav-link {
    font-size: 15px;
}

/* underline on nav links */
.navbar-nav .nav-link::after {
    content: '';
    display: block;
    height: 2px;
    width: 0;
    background: rgb(100, 100, 100);
    margin: 0.25rem auto 0;
    transition: width 0.4s ease;
}
.nav-item.published-work {
    display: none !important;
}
.navbar-nav .nav-link:hover::after {
    width: 100%;
    transition: all 0.4s ease;
}

.navbar-nav .nav-link:focus::after,
.navbar-nav .nav-link:active::after {
    width: 0;
}

.pub a{
    color:rgb(125, 125, 125) !important;
     text-decoration: none;
 }
 .pub {
     transition: background-color 0.5s ease, border-radius 0.5s ease !important;
 }
 .pub:hover{
     background-color: rgba(166, 166, 166, 0.199) !important;
     border-radius: 12px !important;
     transition: background-color 0.5s ease, border-radius 0.5s ease !important;
 }

.navbar-nav .nav-link:hover::after {
    width: 100%;
}











/*--Page2--*/


/* --- Stats grid cards --- */
.stats-grid   { --bs-gutter-y: 2rem; }    

h3{
    font-weight: 1000;
}

.first {
    text-align: center;
    height: auto;
}

.first img{
    max-width: 180px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.first h3{
    font-size: 1.3em !important;
}
.first p {
    font-size: 9px !important;
    margin-bottom: 1rem;
    color:rgb(125, 125, 125, 0.8);
}

.second h3{
    font-size: 1.3em !important;
    text-align: center;
    margin-bottom: 1rem !important;
}
.second p{
    font-size: 9px !important;
    margin-bottom: 1rem;
   color:rgb(125, 125, 125, 0.8);
   padding-right: 20px;
   padding-left:20px;
}

.third h3{
    font-size: 1.3em !important;
    text-align: center;
    padding-right: 20px;
    padding-left:20px;

}
.third img{
    max-width: 230px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.fifth p{
    font-size: 9px !important;
    margin-bottom: 1rem;
    color:rgb(125, 125, 125, 0.8);
    padding-right: 20px;
    padding-left:20px;
}
.fifth img{
    max-width: 240px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.fifth a {
    margin-top: 1rem;
    text-decoration: none;
    color: rgb(125, 125, 125);
    font-size: 9px !important;
    border: 1px solid rgb(125, 125, 125);
    display: inline-block;
    padding: 0.25rem 0.7rem;
    width: max-content;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    transition: background-color 0.5s ease !important;
}
.fifth a:hover {
    color: black;
    background-color: rgb(198, 198, 198);
    transition: background-color 0.5s ease !important;
}

.header2 {
  background-color: rgb(233, 233, 233, 0.5);
padding-top: 70px;
padding-bottom: 70px;
padding-left: 50px;
padding-right: 70px;

}

.sixth h3{
    font-size: 1.3em !important;
    text-align: center;
    margin-bottom: 0.5rem !important;
    padding-right: 20px;
    padding-left: 20px;
}
.sixth p{
    font-size: 9px !important;
    margin-bottom: 1rem;
    color:rgb(125, 125, 125, 0.8);
    padding-right: 20px;
    padding-left: 20px;
}
.sixth img{
    max-width: 130px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.sixth a {
    margin-top: 2rem;
    text-decoration: none;
    color: rgb(125, 125, 125);
    font-size: 9px !important;
    border: 1px solid rgb(125, 125, 125);
    display: inline-block;
    padding: 0.25rem 0.7rem;
    width: max-content;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    transition: background-color 0.5s ease !important;
}
.sixth a:hover {
    color: black;
    background-color: rgb(198, 198, 198);
    transition: background-color 0.5s ease !important;
}

.stat-card {
  background: #ffffff;
  border-radius: 30px;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.01);
  padding: 0.75rem 0.75rem;
 height: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.stat-card h3 {
  font-size: 1.35rem;
  font-weight: 700;
}


/* --- Make the “Learn More / X logo” card horizontal --- */
.item-x{
    flex-direction: row;       /* reverses order so image ends up on the right */
    align-items: center;
    justify-content: space-between;
    gap: 0.75rem;                      /* space between link and image */
    padding: 0.75rem 1rem;             /* a bit wider horizontally */
}

.item-x img{
    max-width: 60px;                   /* keep the logo compact */
    height: auto;
}

.item-x a{
    margin-top: 1rem;
    text-decoration: none;
    color: rgb(125, 125, 125);
    font-size: 9px !important;
    border: 1px solid rgb(125, 125, 125);
    display: inline-block;
    padding: 0.25rem 0.7rem;
    width: max-content;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    border-radius: 10px;
    transition: background-color 0.5s ease !important;
}

.item-x a:hover {
    color: black;
    background-color: rgb(198, 198, 198);
    transition: background-color 0.5s ease !important;
}

.seventh h3{
    font-size: 1.3em !important;
    text-align: center;
    padding-right: 20px;
    padding-left: 20px;
}
.eighth h3{
    font-size: 1.3em !important;
    text-align: center;
    padding-right: 20px;
    padding-left: 20px;
}
.eight img{
    max-width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.ninth h3{
    font-size: 1.3em !important;
    text-align: center;
    padding-right: 20px;
    padding-left: 20px;
}
.ninth p{
    font-size: 9px !important;
    margin-bottom: 1rem;
    color:rgb(125, 125, 125, 0.8);
    padding-right: 10px;
    padding-left: 10px;
}
.ninth img{
    max-width: 130px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.ninth a {
    margin-top: 1rem;
    text-decoration: none;
    color: rgb(125, 125, 125);
    font-size: 9px !important;
    border: 1px solid rgb(125, 125, 125);
    display: inline-block;
    padding: 0.25rem 0.7rem;
    width: max-content;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    border-radius: 10px;
    transition: background-color 0.5s ease !important;
}
.ninth a:hover {
    color: black;
    background-color: rgb(198, 198, 198);
    transition: background-color 0.5s ease !important;
}


.eleven img{
    max-width: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.eleven{
    background-color: black;
}
/* ------- NEW CSS-GRID LAYOUT FOR “STATS” ------- */
.stats-grid2{
    display:grid;
    gap:1.5rem;
   
    grid-template-columns:repeat(12,1fr);
    grid-auto-rows:minmax(20px,auto);        /* equal row height */
  }
  
  /* top block */
  .item-endorsed      {grid-column:1 / span 3;  grid-row:1;}
  .item-projects      {grid-column:1 / span 3;  grid-row:2;}
  .item-sdg           {grid-column:4 / span 3;  grid-row:1 / span 2;}
  .item-photo         {grid-column:7 / span 6;  grid-row:1 / span 2;}
  
  /* bottom row – 3rd grid row */
  .item-parent        {grid-column:1  / span 3; grid-row:3/span 2;}
  .item-legal         {grid-column:4  / span 2; grid-row:3 /span 2;}
  .item-established   {grid-column:6  / span 3; grid-row:3;}
  .item-member         {grid-column:6  / span 3; grid-row:4 ;}
  .item-represent     {grid-column:9  / span 2; grid-row:3 /span 2;}
  .item-reestablished {grid-column:11 / span 2; grid-row:3;}
  .item-x {grid-column:11 / span 2; grid-row:4;}
  





















@media (max-width: 1075px) {
    .page-content .paragaph {
        overflow: visible !important;
        max-height: none !important;
    }
}

@media (max-width: 1055px) {
    .page-content img {
        max-width: 150px !important;
    }

    .social_media {
        text-align: end;
    }


    .row.align-items-start.align-items-sm-center {
        align-items: center !important;
    }
}


@media (max-width: 991px) {

    html,
    body {
        width: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }

    .navbar-nav .nav-link {
        margin: 1rem;
    }
}

@media (max-width:914px){
    
        .page-content img {
            max-width: 120px !important;
        }
    
        .social_media {
            text-align: end;
            
        }
        .social_media p {
            padding-right: 0 !important;
            font-size: 14px !important;
        }
    
        .row.align-items-start.align-items-sm-center {
            align-items: center !important;
            margin-bottom: 2rem !important;
            margin-top: 1rem !important;
        }
}

@media (max-width: 767px) {
    .left-image {
        overflow: visible !important;
        height: 60vh !important;
        width: 100% !important;

        background-position-y: 0 !important;
        background-position-x: 0 !important;
        background-size: cover !important;
        background-repeat: no-repeat;         
    }
    body {
        overflow-y: auto;
    }

    body.menu-open {
        overflow: hidden !important;
        position: fixed !important;
        width: 100%;
    }


    .first_page,
    .page-content {
        height: auto !important;
        overflow-y: auto !important;
    }
    main{
        margin: 0 !important;
        padding-right:1rem !important;
        padding-left: 0 !important;
        padding-top: 0 !important;
        padding-bottom: 0  !important;
    }
    .page-content img {
        max-width: 150px !important;
    }

    
      .row.align-items-start.align-items-sm-center {
        align-items: center !important;
        margin-bottom: 2rem !important;
        margin-top: 0rem !important;
    }


    .offset-md-6,
    .offset-lg-6 {
        margin-left: 0 !important;
    }

    .offcanvas .nav-item .nav-link {
        font-size: 20px !important;
      }


  .nav-item{
    position: relative;
    top: 10rem;
    left: 10%;

  }
  .offcanvas .nav-item {
    transition: transform 0.3s ease;
  }

  .offcanvas .nav-item.nav-shifted {
    transform: translateY(-40px);
  }

  .nav-item.published-work {
    display: block !important;
}

    .offset-md-6,
    .offset-lg-6 {
        margin-left: 0 !important;
    }

    .offcanvas.show .dropdown-menu {
        display: block;
        transform: none !important;
        background: transparent;
        border: 0;
        box-shadow: none;
        padding-left: 0;
        position: relative;
    }


.offcanvas hr.dropdown-divider {
    display: none !important;
}


.navs .phone-nav span {
    position: relative;
    left: 1rem;

}

.offcanvas .nav-item + .nav-item {
    margin-top: 0.25rem !important;   /* tighter vertical gap */
}

.navbar-nav .nav-link::after {
    display: none;
}

/* Frosted‑glass effect for the phone off‑canvas menu */
.offcanvas.sidebar {
    background: rgba(0, 0, 0, 0.35) !important;
    /* translucent dark */
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border-left: 1px solid rgba(255, 255, 255, 0.15);
}

.offcanvas-header {
    background: transparent !important;
    border-bottom: 0;
}
/* Let the list start flush; we'll push everything down via padding instead */
.offcanvas .navbar-nav {
    margin-top: 0;
    
}

/* Push all items down a bit for breathing room */
.offcanvas-body {
    padding-top: 2rem;   /* adjust as desired */
}

.offcanvas .navbar-nav .nav-link {
    top: 100;              /* prevents jitter when the off‑canvas opens */
}

/* Decrease vertical padding/margin on individual links */
.offcanvas .nav-link {
    margin: 0.25rem 0;        /* was inheriting larger margins */
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}


.social-links a{
    font-size: 0.9rem;
}
.d-flex .navbar-toggler {
    padding-right: 1.5rem !important;
    padding-top: 1.4rem !important;
    color:  black !important;
}

.paragaph{
margin-bottom: 1rem;
}



/* Global frosted-glass effect for .navs.scrolled */
.navs.scrolled {
  background-color: rgb(125, 125, 125,0.15);
}
body {
    min-height: auto;
  }


}


@media (max-width: 575px) {

    body{
        min-height: 210vh;
    }
    body.menu-open {
        min-height: auto !important;
        overflow: hidden !important;
        position: fixed !important;
        width: 100%;
    }
    .offcanvas .nav-item .nav-link {
        font-size: 20px !important;
      }
      .nav-item{
        position: relative;
        top: 10rem;
        left: 10%;

      }


      .page-content{
        position: relative;
        top: -30px;
      }


    .offset-md-6,
    .offset-lg-6 {
        margin-left: 0 !important;
    }


    .offcanvas.show .dropdown-menu {
        display: block;
        transform: none !important;
        background: transparent;
        border: 0;
        box-shadow: none;
        padding-left: 0;
        position: relative;
    }




    .offcanvas hr.dropdown-divider {
        display: none !important;
    }


    .navs .phone-nav span {
        position: relative;
        left: 1rem;

    }

    /* Reduce vertical gaps between nav items in off‑canvas */
    .offcanvas .nav-item + .nav-item {
        margin-top: 0.25rem !important;   /* tighter vertical gap */
    }

    .navbar-nav .nav-link::after {
        display: none;
    }

    /* Frosted‑glass effect for the phone off‑canvas menu */
    .offcanvas.sidebar {
        background: rgba(255, 255, 255, 0.73) !important;
        /* translucent dark */
        backdrop-filter: blur(6px);
        -webkit-backdrop-filter: blur(6px);
        border-left: 1px solid rgba(255, 255, 255, 0.15);
    }

    .offcanvas-header {
        background: transparent !important;
        border-bottom: 0;
    }
    /* Let the list start flush; we'll push everything down via padding instead */
    .offcanvas .navbar-nav {
        margin-top: 0;
        
    }

    /* Push all items down a bit for breathing room */
    .offcanvas-body {
        padding-top: 2rem;   /* adjust as desired */
    }

    .offcanvas .navbar-nav .nav-link {
        top: 100;              /* prevents jitter when the off‑canvas opens */
    }

    /* Decrease vertical padding/margin on individual links */
    .offcanvas .nav-link {
        margin: 0.25rem 0;        /* was inheriting larger margins */
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
    }
    .navbar-toggler {
        position: absolute;
        bottom: 1rem;
    }
    

    .all_text{
        padding-bottom: 1rem;
        padding-left:0;
        margin-left: 0;
        text-align: left !important;

       
    }
    .paragaph{
        padding:0;
        margin-left: -5px;
        margin-right: -10px;
        position: relative;
        top: -30px;
    }

    .row.align-items-start.align-items-sm-center {
        flex-direction: row !important;
        justify-content: space-between !important;
        align-items: center !important;
        padding: 10px;
      }
    
      .row.align-items-start.align-items-sm-center > .col-12,
      .row.align-items-start.align-items-sm-center > .social_media {
        flex: 0 0 auto !important;
        width: auto !important;

      }
    
      .social_media {
        margin-top: 0 !important;
        text-align: right !important;

      }
      .social_media p {
        padding-right: 0 !important;
        font-size: 11px !important;
      }
    .social_media a {
        font-size: 11px !important;
    }
}
@media (max-width: 397px) {
    .page-content img {
        max-width: 140px !important;
    }

    .social_media p {
        font-size: 11px !important;
        position: relative;
        top: -5px;
        
    }

    .social_media a {
        font-size: 11px !important;
       
    }

    
}


